USE [master]
GO
/****** Object:  Database [QLSV]    Script Date: 20/09/2020 12:48:41 AM ******/
CREATE DATABASE [QLSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLSV.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLSV_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSV]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 20/09/2020 12:48:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [varchar](20) NOT NULL,
	[TENLOP] [nvarchar](100) NOT NULL,
	[MANV] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 20/09/2020 12:48:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](20) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[EMAIL] [varchar](20) NULL,
	[LUONG] [varbinary](256) NULL,
	[TENDN] [nvarchar](100) NOT NULL,
	[MATKHAU] [varbinary](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 20/09/2020 12:48:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nvarchar](20) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](200) NULL,
	[MALOP] [varchar](20) NULL,
	[TENDN] [nvarchar](100) NOT NULL,
	[MATKHAU] [varbinary](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [EMAIL], [LUONG], [TENDN], [MATKHAU]) VALUES (N'N17DCAT031', N'VO PHI HUNG', N'n17dcat031@student.p', 0x00F254BBC9F2AB44918C23EC541806BA010000009C7409C152DE9168AD35DF891B509E489FFBC06BFE5A04F6BD85DFCF89E9E8CE, N'N17DCAT031', 0x7C4A8D09CA3762AF61E59520943DC26494F8941B)
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [NGAYSINH], [DIACHI], [MALOP], [TENDN], [MATKHAU]) VALUES (N'SV01', N'NGUYEN VAN A', CAST(N'1999-01-01 00:00:00.000' AS DateTime), N'97 Man Thien', N'D17CQAT01-N', N'SV01', 0x81DC9BDB52D04DC20036DBD8313ED055)
/****** Object:  StoredProcedure [dbo].[SP_INS_NHANVIEN]    Script Date: 20/09/2020 12:48:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INS_NHANVIEN] (
	@MANV VARCHAR(20) ,
	@HOTEN NVARCHAR(100) ,
	@EMAIL VARCHAR(20) ,
	@LUONG INT,
	@TENDN NVARCHAR(100), 
	@MATKHAU VARCHAR(32)  )
AS
BEGIN
	DECLARE @SALARY VARBINARY (256), @MK VARBINARY (256)
	OPEN SYMMETRIC KEY AES_256_ENCRYPT DECRYPTION BY CERTIFICATE MY_ENCRYPT_CERT  
	SET @SALARY = EncryptByKey(Key_GUID('AES_256_ENCRYPT'),CONVERT(VARCHAR(32),@LUONG))
	CLOSE SYMMETRIC KEY AES_256_ENCRYPT
	SET @MK = HASHBYTES('SHA1',@MATKHAU)
	INSERT INTO NHANVIEN(MANV,HOTEN,EMAIL,LUONG,TENDN,MATKHAU)
	VALUES(@MANV,@HOTEN,@EMAIL,@SALARY,@TENDN,@MK)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_SINHVIEN]    Script Date: 20/09/2020 12:48:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INS_SINHVIEN] (
	@MASV NVARCHAR(20) ,
	@HOTEN NVARCHAR(100) ,
	@NGAYSINH DATETIME ,
	@DIACHI NVARCHAR(200),
	@MALOP VARCHAR (20) , 
	@TENDN NVARCHAR(100), 
	@MATKHAU VARCHAR(32)  )
AS
BEGIN
	DECLARE @MK VARBINARY (256)				--có thể là 256 hoặc max đều được
	SET @MK = HASHBYTES('MD5', @MATKHAU )
	INSERT INTO SINHVIEN(MASV, HOTEN, NGAYSINH, DIACHI, MALOP, TENDN, MATKHAU)
	VALUES(@MASV, @HOTEN, @NGAYSINH, @DIACHI, @MALOP, @TENDN, @MK)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_NHANVIEN]    Script Date: 20/09/2020 12:48:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*----------------------------------------------------------
MASV: N17DCAT031
HO TEN: VÕ PHI HÙNG
LAB: 03
NGAY: 18/09/2020
----------------------------------------------------------*/
CREATE PROC [dbo].[SP_SEL_NHANVIEN]
AS
BEGIN
	OPEN SYMMETRIC KEY AES_256_ENCRYPT DECRYPTION BY CERTIFICATE MY_ENCRYPT_CERT  
	SELECT MANV, HOTEN, EMAIL, CONVERT(VARCHAR(32), DecryptByKey(NHANVIEN.LUONG)) AS LUONGCB
	FROM NHANVIEN
	CLOSE SYMMETRIC KEY AES_256_ENCRYPT
END

--EXEC SP_SEL_NHANVIEN
GO
USE [master]
GO
